@using Challenge24.Models.ChallengeModels
@model IEnumerable<Challenge>
@{
    ViewData["Title"] = "ShowChallenges";
}

<table class="table">
    @foreach (var challenge in Model)
    {
        <tr>
            <td></td>
            <td>@challenge.Name</td>
            <td>@challenge.Description</td>
            <td><a asp-area="" asp-controller="Challenge" asp-action="EditChallenge" asp-route-id="@challenge.ChallengeId" class="navbar-brand">Edit</a></td>
            <td><a asp-area="" asp-controller="Challenge" asp-action="Remove" asp-route-id="@challenge.ChallengeId" class="navbar-brand">Remove</a></td>
        </tr>
    }
</table>

